<!-- registro.component.html -->
<ion-content>
  <!-- Formulario para registrar nuevos usuarios -->
  <ion-item>
    <ion-label position="stacked">Nuevo Usuario</ion-label>
    <ion-input [(ngModel)]="nombreUsuario" placeholder="Nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [(ngModel)]="contrasenaUsuario" type="password" placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="tieneAuto" aria-label="Tiene Auto">Tiene auto</ion-checkbox>
  </ion-item>  
  <ion-button (click)="registrarUsuario()">Registrar Usuario</ion-button>
  <ion-button (click)="cerrarSesion()">Volver</ion-button>

</ion-content>
